@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
    Heyyy, the universe loves you unconditionally! <br />The internet destroyed my life. Cats are funny. 
    Lana Del Rey is the queen of everything.<br />
    Also, in this web application you can practice sight reading, more specifically (and exclusively, because I'm that lazy), 
    the skill to identify tones based on notes and key signatures. You can choose between bass clef or treble clef.
    If you're a pianist, you need to master both.
    I feel sorry for you then because the skill of one does not imply the skill of the other; they're kind of arbitrarily structured.
    I like cello because it's a lot less complex but simultaneously a hundred times harder. Have a good day, sir.
</p>